src/main/mule/hello-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="643a100f-56d6-43b8-8f0c-72bda7a74fa0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-muleFlow" doc:id="0bbebb83-5b9b-4c67-9185-ae4e580239ed" >
		<http:listener doc:name="Listener" doc:id="9bb1f983-36b4-42cf-8ec8-c1a1cf44a9a9" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello welcome to Mule world"]' doc:name="Set Payload" doc:id="c6f1d637-2f9b-440e-b622-7add7a94daa2" />
		<logger level="INFO" doc:name="Logger" doc:id="95c52e3c-c180-4882-9e3e-a2df88373678" message="#[payload]"/>
	</flow>
</mule>
